* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121613;
  font-family: "Baloo", cursive;
  color: #fff;
  min-height: 100vh;
}

.form-header {
  text-align: center;
  display: block;
  width: 100%;
}

.form-header h1 {
  text-align: center;
  font-size: 24px;
  width: 100%;
  display: block;
  transform: translateY(25px);
}

.password-form {
  width: 420px;
  margin: 8% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top, #363636, #181818);
  background-position: center;
  backdrop-filter: blur(10px);
}

.inputsPasswordUpdate .icon {
  position: absolute;
  margin-top: 12.5px;
  right: 85px;
  font-size: 12px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.button-updatePassword,
.button-cancelPassword {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff99009b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  flex: 1;
  max-width: 140px;
}

.button-updatePassword:hover:not(:disabled) {
  background-color: #28a745;
}

.button-cancelPassword:hover:not(:disabled) {
  background-color: #e74c3c;
}

.button-updatePassword:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.validation-rules {
  margin-top: 10px;
  padding: 10px;
  background-color: #282828;
  border-radius: 5px;
  text-align: center;
}

.valid {
  color: #28a745;
}

.invalid {
  color: #e74c3c;
}
.validation-title {
  text-align: center;
  margin-bottom: 5px;
}

.validation-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  list-style: none;
}


